<div class="stranica">
  <h2 class="naslov">Registracija</h2>
    <div class="forma">
      <form>
        <input type="text" name="ime" id="ime" placeholder="ime"/>
        <input type="text" name="prezime" id="prezime" placeholder="prezime"/>
        <input type="password" name="lozinka" id="lozinka" placeholder="lozinka" />
        <input type="email" name="email" id="email" placeholder="email"/>
        <input type="text" name="korime" id="korime" placeholder="korime" />
        <button id="Registriraj" name="Salji" type="submit" value="Registriraj se" (click)="onSubmit($event)">Registriraj se</button><br>
      </form> 
    </div>
</div>
  